@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model qvisitorCorp.Models.qvHotEntrance
@{

    ViewData["Title"] = "CreateVisitors";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Добавить посетителя</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <ol class="breadcrumb">
        <li>
            <a asp-controller="CheckPoint" asp-action="HotEntrances"> КПП</a>
        </li>
        <li class="active">
            Создать
        </li>
    </ol>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                    Добавить посетителя
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Attendant)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Attendant)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Comment)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Comment)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DocumentNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DocumentNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Organization)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Organization)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Patronymic)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Patronymic)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Surname)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Surname)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
